*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
TritonProfessorRaterV1/.idea/misc.xml
TritonProfessorRaterV1/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
TritonProfessorRaterV1/.idea/gradle.xml
TritonProfessorRaterV1/settings.gradle
TritonProfessorRaterV1/.idea/modules.xml
TritonProfessorRaterV1/.idea/gradle.xml

TritonProfessorRaterV1/.idea/misc.xml
TritonProfessorRaterV1/.idea/compiler.xml
TritonProfessorRaterV1/.idea/modules.xml
TritonProfessorRaterV1/.idea/runConfigurations.xml
